
<div id="mysidebar">
<nav class="bs-docs-sidebar hidden-print hidden-sm hidden-xs affix">
    <ul class="nav bs-docs-sidenav">

        {% for entry in sidebar %}
        {% for subcategory in entry.subcategories %}
        <li>

            <!--need a separate structure for external links.-->
            {% if subcategory.url != nil %}
                <a href="{{ subcategory.url }}" target="_blank" class="h4">{{ subcategory.title }}</a>
            {% else %}
                <a href="#{{subcategory.title | replace: ' ', '_'}}" data-toggle="collapse" class="h4">{{ subcategory.title }}</a>
                <ul id="{{subcategory.title | replace: ' ', '_'}}" class="nav collapse">
                    {% for item in subcategory.items %}
                    <li><a href="{{ item.url | prepend: site.github.url }}">{{item.title}}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        {% endfor %}
        {% endfor %}

    </ul>
    <a href="#top" class="back-to-top"> Back to top </a>
</nav>
</div>



