
<div id="mysidebar">
<nav class="bs-docs-sidebar hidden-print hidden-sm hidden-xs affix">
    <ul class="nav bs-docs-sidenav">

        {% for entry in sidebar %}
        {% for subcategory in entry.subcategories %}
        <li>

            <a href="{{ subcategory.url }}" class="h4">{{ subcategory.title }}</a>
            <a href="#" class="h4">{{ subcategory.title }}</a>
            <ul class="nav">
                {% for item in subcategory.items %}
                <li><a href="{{ item.url | prepend: site.github.url }}">{{item.title}}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
        {% endfor %}

    </ul>
    <a href="#top" class="back-to-top"> Back to top </a>
</nav>
</div>



