<!DOCTYPE html>
<head>

    {% include base.html %}
    {% include head.html %}

</head>

<body>

{% include topnav.html %}


<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% include sidebar.html %}
        </div>

        <!-- Content Column -->
        <div class="col-md-9">

            {{content}}

            <div class="alert alert-info" role="alert">
                Base is: {{ base }} <br />
                Depth is: {{depth }} <br />
                Page is: {{ page.url }}
            </div>


        </div><!-- /.row -->
    </div>
    {% include footer.html %}

</div>    <!-- /.container -->

</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}




</html>

